SUPABASE_URL="" # URL de tu proyecto en Supabase
SUPABASE_KEY="" # Clave de API de tu proyecto en Supabase

DB_USER="" # Usuario de la base de datos
DB_PASSWORD="" # Contraseña de la base de datos
DB_HOST="" # Host de PostgreSQL generado por Supabase
DB_PORT="" # Puerto para conexión a base de datos, por defecto es 5432
DB_NAME="" # Nombre de la base de datos

JWT_SECRET_KEY="TU_JWT_SECRET_KEY"
ENCRYPTION_KEY="TU_ENCRYPTION_KEY"

NEXT_PUBLIC_API_URL=http://localhost:8000/api
