# --- IDEs y otros archivos---
.idea/
.vscode/
.DS_Store

# -- Python --
__pycache__/
*.pyc

# --- Entornos Virtuales ---
venv/
env/
ENV/
.env
.venv

# Alembic (Migraciones) ---
alembic/__pycache__/
alembic/versions/__pycache__/

# --- Docker ---
postgres_data/

# --- Frontend ---
node_modules/
.next/
dist/
build/
coverage/