# FastAPI
fastapi
uvicorn[standard]

# Bases de datos y ORM
sqlalchemy
psycopg2
psycopg2-binary
alembic
supabase

# Drivers de conexión externos
pyodbc
neo4j

# Utilidades
python-dotenv

# Validadores de datos
pydantic[email]

# Seguridad
bcrypt
python-jose[cryptography]
cryptography

# Correo electrónico
resend

# Linters y formateadores
black
ruff
